node_modules/
dist/
target/
.anchor/
.keys/
test-ledger/
.DS_Store
*.log
media/*.webm

# build caches
*.tsbuildinfo
forecasts/cron.log
forecasts/launchd.log
forecasts/devnet-deploy.log
forecasts/prestocks-cron.log
